@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1080px;
    padding: 20px 0 0 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1080px;
    width: 1080px;
  }
}



.tooltiptext{
    display: none;
}


.inner_item{
    padding: 20px;
text-align: center;
height: 150px;
}

.panel-body{
    /*
    min-height: 300px;
    */
}
.item-text {
    height: 220px;
font-weight: 400;
}

.item-price{
    border-top:1px solid #009FE3;
    height: 60px;
}

.panel-heading{
    background-color: #fff;
    border: none;

    padding: 0px;
}

.panel-default {

}

.panel {
border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;

font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 600;
}

.panel-body h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

select.form-control{
    color:#009fe3;
    height: 44px;
    background: url(../img/bg.select.png) repeat-x;
}

.panel-body {
padding: 20px 15px 15px 15px;
}


.list-group-item {
    border:none;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.list-group-item:first-child{
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

.list-group-item:last-child {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

 .checkbox {

min-height: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.price {
color: #009FE3;
font-size: 40px;
font-weight: 600;
line-height: 60px;
letter-spacing: -1px;
}

.price sup {
top: -9px;
}


.item-price strong {
position: relative;
top: 20px;
}

.border [class^=col-] {
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
padding: 0 -1px;
}


.bottom{
    padding: 30px 15px 0 15px;

}

.txt-small{
    font-size: 12px;
}
.blue{
    color:#009fe3;
     text-align: center;
     font-weight: 600;
}
.gray{
    color:#ACACAC;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

td.gbblue{
    background-color: #009fe3;
    color: #fff;
}

td.gbblue2{
    background-color: #018AC4;
    color: #fff;
}

.white{
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    font-weight: 600;

font-size: 51px;
}

.gray sup,
.bggray sup
{
    top: -6px;
}

.bggray{
    color:#939393;
    background-color:#ededed;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}
.bggray.small{
    font-size: 14px;
    font-weight: 400;
}

.bgblue{
    background-color:#009fe3;
    color:#fff;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}
.bgblue.small{
    font-size: 14px;
    font-weight: 400;
}

.panel.noborder {
    border: 0;
    margin-bottom: 0px;
}

p.border-bottom {
border-bottom: 1px solid #ddd;
padding: 0 0 10px 0;
}


.icon {
width: 51px;
height: 51px;
background: url(../img/icon.selected.png) no-repeat 0px 0px;
position: absolute;
top: 230px;
left: 45%;
}
.icon.sel {
background: url(../img/icon.selected.png) no-repeat 0px -51px;
}

.pos_relative{
    position: relative;
}



.table-bordered.blue {
border: none;
}

.table-bordered.blue>thead>tr>th,
.table-bordered.blue>tbody>tr>th,
.table-bordered.blue>tfoot>tr>th,
.table-bordered.blue>thead>tr>td,
.table-bordered.blue>tbody>tr>td,
.table-bordered.blue>tfoot>tr>td {
border: 1px solid #038BC5;
}

.total_container{
margin: 0 !important;
padding: 10px 5px 0px 5px !important;
}

.bluebox {

background-color: #038BC5;
height: 44px;
width: 430px;
margin: 0px auto 0 auto;
padding: 10px 0 0 0;
border-radius: 4px 4px 0 0;

/*
background: linear-gradient(to right, #038BC5 0%, #038BC5 60%, #0072A4 60%,#0072A4 100%);
*/

}
.bluebox_one,
.bluebox_two {
    width: 90%;
    min-height: 50px;

}


.bluebox_one {
border-radius: 4px 4px 0 0;
background-color: #038BC5;
padding: 15px 0 0 0;
}

.bluebox_two {
border-radius: 0px 0px 4px 4px;
background-color: #0072A4;
padding: 5px 0 0 0;
}

.bluebox .text {
font-weight: 600;
font-size: 15px !important;
padding: 0 50px 0 0;
}

.bluebox .price {
font-weight: 600;
font-size: 24px !important;
margin: -18px 0 0 0;
padding: 0 15px 0 15px;
}


.text_blue_001 span{
color: #015477;
font-size: 17px;
}
.text_white_001 span{
color: #fff;
font-size: 18px;
}
.text_white_002 span{
color: #fff;
font-size: 18px;
padding: 30px 0 0 0;
}
.text_white_003 span{
color: #fff;
font-size: 38px;
}


.padding_top{
    top: 10px;
position: relative;
}

.see_more {
margin: -21px 0 0 0;
padding: 10px;
text-align: center;
}

.see_more a {
color:#009FE3;
}
#disclamer_price{
    font-size: 11px;
}
.clear{
    clear: both;
}


.bg_gray_001{
    background-color: #dcdcdc;
}

.bg_blue_001{
    background-color: #009fe3;
}

.bottom_item{
    min-height: 130px;

    padding: 0;
    margin: 0;
}
.bottom_item_002{
    min-height: 130px;

    padding: 10px;
    margin: 0;
}
.bottom_item_rigth_border{
    border-right: 1px solid #038bc5;
}

.text_gray_001{
    color: #a8a8a8;
    font-size: 14px;
    border-bottom: 1px solid #c4c4c4;
    padding: 10px 0 10px 0
}

.text_gray_002{
    color: #a8a8a8;
    font-size: 35px;
    padding: 20px 0 0 0
}


.text_white_101{
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #038bc5;
    padding: 10px 0 10px 0
}

.text_white_102{
    color: #fff;
    font-size: 35px;
    padding: 20px 0 0 0
}


.box-item{
    min-height: 430px;
}

.btn-blue,
.btn-blue:hover
{
    -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(120, 200, 230, 0.498039) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: -webkit-linear-gradient(top, rgb(0, 159, 227), rgb(0, 159, 227));
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(38, 131, 192);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(38, 131, 192);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(38, 131, 192);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(38, 131, 192);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(120, 200, 230, 0.498039) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: auto;
line-height: 18.6200008392334px;
margin-bottom: 0px;
padding-bottom: 7px;
padding-left: 42px;
padding-right: 42px;
padding-top: 7px;
text-align: center;
text-decoration: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
width: auto;
}

.nospace{
    padding: 0;
}